//Fonts
$vtac-font-family: 'Poppins', sans-serif;
$vtac-header-font-family: 'Poppins', serif;
// Colours
// VTAC
$vtac-logo-blue:  #06068F !default;
$vtac-dark-blue:  #06068F !default;
$vtac-alt-dark-blue: #1A237E !default;
$vtac-indigo: #4B068F !default;
$vtac-mid-blue: #0D47A1 !default;
$vtac-dark-grey: #373534 !default;
$vtac-light-grey: #F4FAFA !default;
$vtac-light-purple: #B6BBED;
//Material
$material-indigo: #0d47a1 !default;
$material-wine: #880e4f !default;
$material-cyan: #00838f !default;
$material-bluegrey: #607d8b !default;
$material-ultralight-indigo: #fafafc !default;
$material-ultralight-wine: #fcfafb !default;
$material-ultralight-cyan: #fafeff !default;
$material-ultralight-blue-grey: #f7fbfc !default;
