<div [formGroup]="form">
  <h3>Email</h3>

  <div class="main">
    <div class="inputLine">
      <div class="inputText">
        <input class="form-control"  formControlName="input" autosize rows="1" placeholder="Enter text" (keyup.enter)="onSubmit()">
      </div>
      <div class="submit">
        <button type="button" class="btn btn-vtac-dark-blue rounded apply-btn" (click)="onSubmit()">Submit</button>
      </div>
    </div>
    <div class="responseText">
      <span class="inpLabel">Generated Text</span><br/>
      <div class="card mb-2" [innerHTML]="responseText"></div>
    </div>
  </div>
</div>
