.main {
  display: grid;
  grid-row-gap: 10px;
}

.submit {
  display: grid;
  justify-content: right;
}

.inputLine {
  display: grid;
  grid-template-columns: auto 80px;
}

.apply-btn {
  height: 38px;
  padding: 10px;
  position: relative;
  top: 2px;
}

